<%= render 'header' %>
<section id="loStudio">
  <div class="container">
    <div class="studioLeft">
      <div class="compoTitleLeft">
        <h2>Il nostro studio</h2>
        <%= image_tag('underline.png', id: 'studioUnderline') %>
      </div>
      <div class="compoLeft">
        <div class="flipCard">
          <div class="redBox boxLeft cardFront">
            <p>
              Studio Ottico Leone viene fondato, nel 1968, dal Sig. Guido Leone che apre la sua prima impresa individuale nel cuore di Torino, sulla via Garibaldi. <br>
              <br>
              Nel 1970 il negozio di ottica si trasferisce in piazza Statuto 5/A, nei locali che attualmente ospitano l’attività.
            </p>
          </div>
          <div class="redBox boxLeft cardBack"><%= image_tag('flipLeft.jpg') %></div>
        </div>
      </div>
      <div class="compoLeftPic">
        <%= image_tag('studioOut.jpg', id: 'studioLeft') %>
      </div>
      <div class="copyLeft">
        <h4>Professionalita’ su misura</h4>
        <h3>
          Le tue esigenze: <br>
          il nostro impegno.
        </h3>
        <p>
          Ci proponiamo di ascoltare le particolari esigenze dei nostri clienti per offrire loro le soluzioni più adeguate. 
          <br>
          Guarda il mondo da una diversa prospettiva: da 50 anni offriamo ai nostri clienti il meglio per i loro occhi! 
          <br>
          <br>
          Abbiamo introdotto nuovi strumenti per la valutazione dell’acuità visiva e nuovi esami soggettivi per una scelta più consapevole della corretta refrazione.
        </p>
      </div>
    </div>
    <div class="studioRight">
      <h2>La nostra mission</h2>
      <%= image_tag('underline.png', id: 'missionUnderline') %>
      <div class="compoRight">
        <%= image_tag('studioIn.jpg', id: 'studioRight') %>
        <div class="flipCard">
          <div class="redBox boxRight cardFront">
            <p>
              Nel tempo, il progresso ha prodotto e favorito un profondo cambiamento. Il mondo dell’ottica è approdato in un’era di nuovi materiali e tecnologie. <br>
              <br>
              Il modo di operare di Studio Ottico Leone è attento a questa evoluzione per offrire un servizio professionale ed aggiornato.
            </p>
          </div>
          <div class="redBox boxRight cardBack"><%= image_tag('flipRight.jpg') %></div>
        </div>
      </div>
      <div class="copyRight">
        <h4>Semplicemente trendy</h4>
        <h3>
          Non solo vista: <br>
          appari al meglio.
        </h3>
        <p>
          Gli occhiali di una persona ne riflettono la personalità. 
          <br>
          <br>
          Offriamo una vasta gamma di montature per chi cerca la griffe, i materiali più innovativi e il design. <br>
          Con la nostra esperienza e con l’aiuto dei nostri clienti riconosciamo rapidamente il tipo di montatura più adatta per la personalità e la forma del viso del paziente.
          <br>
          <br>
          Crediamo che un processo di vendita non si concluda con la “consegna” del prodotto. <br>
          Tale processo, infatti, si rafforza con l’assistenza, nel tempo, e con l’offerta di garanzie e di indicazioni adeguate
        </p>
      </div>
    </div>
  </div>
</section>
<section id="findUs">
  <div class="container">
    <h2>Dove trovarci</h2>
    <%= image_tag('underline.png', id: 'findUsUnderline') %>
    <iframe
      width="100%"
      height="250"
      style="border:0"
      loading="lazy"
      allowfullscreen
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDL2fFXrjXKE0rWoh-LSwj4QcbreMptf_A
    &q=Piazza+Statuto+5/A+Torino">
    </iframe>
  </div>
</section>
