<section id="header">
  <div class="container">
    <header>
      <h1 class="headerCopy">
        Il tuo <br>
        Benessere visivo <br>
        E' la nostra <br>
        Priorita'.
      </h1>
      <%= image_tag('underline.png', id: 'headerUnderline') %>
      <div class="headerImg">
        <%= image_tag('homePrada.jpg', id: 'headerOne') %>
        <%= image_tag('homePrada2.jpg', id: 'headerTwo') %>
      </div>
    </header>
  </div>
</section>
<section id="loStudio">
  <div class="container">
    <div class="studioLeft">
      <h2>Il nostro studio</h2>
      <%= image_tag('underline.png', id: 'studioUnderline') %>
      <div class="compoLeft">
        <div class="redBox boxLeft">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
            Phasellus ut aliquam mi. Ut nec orci quis dui mattis lobortis. <br>
            Sed est urna, iaculis auctor suscipit id, iaculis quis dolor. 
          </p>
        </div>
        <%= image_tag('negozio-leone.jpg', id: 'studioLeft') %>
      </div>
      <div class="copyLeft">
        <h4>Professionalita’ su misura</h4>
        <h3>
          Le tue esigenze: <br>
          il nostro impegno.
        </h3>
        <p>
          Ci proponiamo di ascoltare le particolari esigenze dei nostri clienti per offrire loro le soluzioni più adeguate. 
          <br>
          <br>
          Abbiamo introdotto nuovi strumenti per la valutazione dell’acuità visiva e nuovi esami soggettivi per una scelta più consapevole della corretta refrazione.
        </p>
      </div>
    </div>
    <div class="studioRight">
      <h2>La nostra mission</h2>
      <%= image_tag('underline.png', id: 'missionUnderline') %>
      <div class="compoRight">
        <%= image_tag('negozio-leone.jpg', id: 'studioRight') %>
        <div class="redBox boxRight">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
            Phasellus ut aliquam mi. Ut nec orci quis dui mattis lobortis. <br>
            Sed est urna, iaculis auctor suscipit id, iaculis quis dolor. 
          </p>
        </div>
      </div>
      <div class="copyRight">
        <h4>Semplicemente trendy</h4>
        <h3>
          Non solo vista: <br>
          appari al meglio.
        </h3>
        <p>
          Gli occhiali di una persona ne riflettono la personalità. 
          <br>
          <br>
          Offriamo una vasta gamma di montature per chi cerca la griffe, i materiali più innovativi e il design. <br>
          <br>
          Crediamo che un processo di vendita non si concluda con la “consegna” del prodotto. <br>
          Tale processo, infatti, si rafforza con l’assistenza, nel tempo, e con l’offerta di garanzie e di indicazioni adeguate
        </p>
      </div>
    </div>
  </div>
</section>
