<section id="form">
  <%= simple_form_for(@glass) do |f| %>
    <div id="formTitle">
      <i><%= f.label :nuovo_occhiale %></i>
    </div>
    <%= f.label :sku %>
    <%= f.text_field :sku %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
    <%= f.label :price %>
    <%= f.number_field :price, step: :any %>
    <%= f.label :color %>
    <%= f.text_field :color %>
    <%= f.label :frame %>
    <%= f.text_field :frame %>
    <%= f.label :material %>
    <%= f.text_field :material %>
    <%= f.label :measure %>
    <%= f.text_field :measure %>
    <%= f.label :sunglasses %>
    <%= f.input :sunglasses %>
    <%= f.button :submit, "Aggiungi occhiale", id: 'formBtn' %>
  <% end %>
</section>
