<div class="index-grid">
  <% @glasses.each do |glass| %>
    <div class="index-card">
      <li>
        <%= link_to glass_path(glass) do %>
          <%= glass.sku %> | 
          <%= glass.name %> | 
          <%= glass.brand %> |
          <%= glass.sunglasses? ? "Da sole" : "Da vista" %>
        <% end %>
      </li>
    </div>
  <% end %>
</div>
