<div class="index-grid">
  <% @glasses.each do |glass| %>
    <div class="index-card">
      <%= link_to glass_path(glass) do %>
        <li>
          <%= glass.sku %> | 
          <%= glass.name %> | 
          <%= glass.brand %> |
          <%= glass.sunglasses? ? "Da sole" : "Da vista" %>
        </li>
      </div>
    <% end %>
  <% end %>
</div>
