<section id="show">
  <div class="showLeft">
    <div data-controller="carousel" class="swiper-container"
    data-carousel-options-value='{
    "pagination": { "el": ".swiper-pagination", 
                    "dynamicBullets": "true" },
    "navigation": { "nextEl": ".swiper-button-next", 
                    "prevEl": ".swiper-button-prev"}}'>
      <div class="swiper-wrapper">
        <div class="swiper-slide"><%= cl_image_tag @glass.photos[0].key %></div>
        <div class="swiper-slide"><%= cl_image_tag @glass.photos[1].key %></div>
        <div class="swiper-slide"><%= cl_image_tag @glass.photos[2].key %></div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
  <div class="showRight">
    <h1><%= @glass.brand %> - <%= @glass.name.present? ? @glass.name : @glass.sku %></h1>
    <h4 class="glassSku">Codice modello: <%= @glass.sku %></h4>
    <div class="glassDetails">
      <h4>
        Colore:&nbsp; <%= @glass.color %> <br>
        Montatura:&nbsp; <%= @glass.frame %> <br>
        Materiale:&nbsp; <%= @glass.material %> <br>
        Misura:&nbsp; <%= @glass.measure %> <br>
      </h4>
    </div>
    <h3 class="glassPrice">€ <%= @glass.price == @glass.price.to_i ? @glass.price.to_i : @glass.price.round(2) %></h3>
    <%= link_to "Richiedi disponibilita'", "#", class: "animatedBtn" %>
    <div class="glassIcons">
      <div class="glassClicktrough">
        <%= link_to request.referer.present? ? request.referer : glasses_path do %>
          <h5>Indietro</h5>
          <i data-feather="corner-down-left"></i>
        <% end %>
      </div>
      <div class="glassSocial">
        <%= link_to('#', target: '_blank') do %>
          <i data-feather="facebook"></i>
        <% end %>
        <%= link_to('#', target: '_blank') do %>
          <i data-feather="instagram"></i>
        <% end %>
      </div>
    </div>
  </div>
</section>
