<!DOCTYPE html>
<html>
  <head>
    <title>Studio Ottico Leone | Dal 1968 al tuo servizio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% unless no_navbar? %>
      <%= render 'shared/navbar' %>
    <% end %>
    <section id="bodyContent">
      <%= yield %>
    </section>
    <% unless no_footer? %>
      <%= render 'shared/footer' %>
    <% end %>
    <%= render 'shared/background' %>
    <%# Feather Icons %>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <script>
      feather.replace()
    </script>
    <script>
      var scroll = new SmoothScroll('a[href*="#"]');
    </script>
  </body>
</html>
